@keyframes zoom-in {
  0% {
    transform: translateZ(-1000px);
    opacity: 0;
    filter: blur(5px);
  }
  50% {
    transform: translateZ(0px);
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    transform: translateZ(1000px);
    opacity: 0;
    filter: blur(5px);
  }
}

.stuck-grid {
  block-size: 100svh;
  perspective: 1000px;
  transform-style: preserve-3d;

  display: grid;
  grid: repeat(4, 25dvh) / repeat(4, 25dvw);
  place-items: center;

  position: sticky;
  top: 0;

  overflow: clip;
}

.stuck-grid > .grid-item {
  transform-style: preserve-3d;
  font-size: 10vmin;
  font-weight: bold;
  text-wrap: nowrap;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

@supports (animation-timeline: scroll()) {
  @media (prefers-reduced-motion: no-preference) {
    .stuck-grid > .grid-item {
      animation: zoom-in linear both;
      animation-timeline: scroll(root block);
      will-change: transform, opacity, filter;
    }
  }
}

.stuck-grid > .grid-item:nth-of-type(1)  { animation-range: 0% 20%; }
.stuck-grid > .grid-item:nth-of-type(2)  { animation-range: 20% 40%; }
.stuck-grid > .grid-item:nth-of-type(3)  { animation-range: 40% 60%; }
.stuck-grid > .grid-item:nth-of-type(4)  { animation-range: 60% 80%; }
.stuck-grid > .grid-item:nth-of-type(5)  { animation-range: 80% 100%; }

